@charset "UTF-8";

/* =============================================================================
 BASELINE CSS
 ========================================================================== */

/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	margin:0;
	padding:0
}

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
	display:block
}

a img {
	border:0
}

figure {
	position:relative
}

figure img {
	width:100%
}

/* TAGS */
* {
	padding:0;
	margin:0
}
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body {
	font-size:14px
}

fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}

button, input, select, textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}

button, input {
	line-height:normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}

button[disabled], input[disabled] {
	cursor:default
}

input[type="checkbox"], input[type="radio"] {
	box-sizing:border-box;
	padding:0
}

input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}

textarea {
	overflow:auto;
	vertical-align:top
}

table {
	border-collapse:collapse;
	border-spacing:0
}

figure {
	margin:0
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0
}

/* =============================================================================
 UTILITY CLASSES
 ========================================================================== */

/* =============================================================================
 CUSTOM CSS
 ========================================================================== */
body {color:#252525;background-color:#fff;font-family:sans-serif;overflow-y:scroll !important}
p {line-height:1.4}
hr {margin:15px 0;border:0;height:0;border-top: 1px solid rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(255, 255, 255, 0.3)}
header#masthead {margin:0 0 20px 0;border-bottom:1px solid #000}
header#masthead h1 {font-family:'DejaVuSansBold', sans-serif;font-size:300%;}
#description {font-family:'DejaVuSansBook';font-size:114%;margin-bottom:10px}
#pagewrapper {margin:auto 25px}
#typecontrols {margin-top:30px}
#typecontrols select{padding:4px 4px 2px 4px;font-family:'PTMonoRegular','courier',monospace}
#typeexamples {margin:30px 0}
footer#footer {padding:5px 10px;margin-bottom:10px;font-size:86%;color:#000;font-weight:700}
footer#footer .symbl{font-size:100%}

.notes {color:#666;font-family:'DejaVuSansOblique',sans-serif;font-size:93%}
.sizeinfo {font-family:'DejaVuSansBold',sans-serif !important;font-weight:normal !important;font-style:normal !important;color:#b4b4b4}

/* =============================================================================
 PRINT STYLES
 ========================================================================== */
@media print {
	* {
		background:transparent !important;
		color:#444 !important;
		text-shadow:none
	}
	a, a:visited {
		color:#444 !important;
		text-decoration:underline
	}
	a:after {
		content:" (" attr(href) ")"
	}
	abbr:after {
		content:" (" attr(title) ")"
	}
	.ir a:after {
		content:""
	}
	pre, blockquote {
		border:1px solid #999;
		page-break-inside:avoid
	}
	img {
		page-break-inside:avoid
	}
	select{background: transparent;-webkit-appearance: none;}
	
	@page {
		margin:0.5cm
	}

	p, h2, h3 {
		orphans:3;
		widows:3
	}
	h2, h3 {
		page-break-after:avoid
	}
}